body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #349890;
    color: white;
    padding-top: 20px;
}

.sidebar .nav-link {
    color: white;
}

.sidebar .nav-link:hover {
    background-color: #495057;
}

.sidebar .nav-item.active .nav-link {
    background-color: #007bff;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
}

.navbar-user {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.navbar-user .avatar {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar i {
    font-size: 18px;
}

.footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: calc(100% - 250px);
    left: 250px;
}

@media (max-width: 992px) {
    .sidebar {
        width: 200px;
    }

    .main-content {
        margin-left: 200px;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 0;
        visibility: hidden;
    }

    .main-content {
        margin-left: 0;
    }

    .sidebar.active {
        width: 250px;
        visibility: visible;
    }
}


.active{
    background-color: rgb(173, 25, 59);
    color:white;
}
